html {
    background-color: steelblue;
    color: white;
}

header {
    text-align: center;
    margin-top: 50px;
}

header img {
    width: 300px;
    height: 300px;
    border: 3px solid white;
    border-radius: 50%;
}

#navcontainer-list {
    padding: 0;
    margin: 0;
    word-spacing: 25px;
}
#navcontainer li{
    display: inline-block;
}

body {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.grow {
    transition: all .2s ease-in-ease-out;
}
.grow:hover {
    transform: scale(1.1);
}

a:link {
    color: rgb(253,151,45);
    font-weight: bold;
    text-decoration: underline;
}

a:visited {
    color: rgb(253,151,45);
    font-weight: bold;
    text-decoration: underline;
}

hr {
    height: 2px;
    background-color: rgb(253,151,45);
    border: none;
    margin-top: 20px;
}

#summary {
    text-align: left;
}

#skills {
    text-align: left;
}

#projects {
    text-align: left;
}

#experience {
    text-align: left;
}

#education {
    text-align: left;
}

#personal {
    text-align: left;
}

footer {
    text-align: center;
}